<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>todo list</title>
</head>

<body>
    <div id="container">
        <div id="app">
            <input type="text" id="input" placeholder="Co chcesz dzisiaj zrobić?" v-on:keyup="addTask($event)">
            <!-- v-bind:class="{ 'ended-task': task.isEnded }" -->
            <ul v-if="tasks">
                <li id="task" v-for="(task, index) in tasks" v-bind:key="index">
                    <span id="task-span" v-on:click="endTask(index)" v-bind:class="{ 'ended-task': task.isEnded }">{{ task.text }}</span>
                    <span id="delete" v-on:click="deleteTask(index)">&#8856</span>
                </li>
            </ul>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    tasks: [],
                }
            },
            methods: {
                addTask(event) {
                    if (event.target.value === '')
                        return;
                    if (event.which === 13) {
                        this.tasks.push({
                            text: event.target.value,
                            isEnded: false
                        });
                        event.target.value = '';
                    }
                },
                endTask(taskIdx) {
                    this.tasks[taskIdx].isEnded = true;
                },
                deleteTask(taskIdx) {
                    this.tasks.splice(taskIdx, 1);
                }
            },
        });
    </script>
</body>

</html>