* {
    box-sizing: border-box;
}
html {
    background: linear-gradient(to bottom, #000, #434343);
    background-attachment: fixed;
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
}
ul {
    list-style: none;
    width: 694;
}
#task {
    padding: 5px;
    font-size: 16pt;

}
.ended-task {
    color: gray;
    text-decoration: line-through;
}
input {
    text-align: center;
    background-color: inherit;
    border: 0;
    font-size: 36pt;
}

input:focus {
    outline: none;
}

#container {
    min-width: 100%;
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#selector {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

#task-span {
    float: left;
    width: 300px;
    cursor: pointer;
}

#delete {
    cursor: pointer;
}